[submodule "dotfiles/vim/pack/matir/opt/solarized8"]
	path = dotfiles/vim/pack/matir/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule "dotfiles/vim/pack/matir/start/surround"]
	path = dotfiles/vim/pack/matir/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotfiles/vim/pack/matir/start/editorconfig"]
	path = dotfiles/vim/pack/matir/start/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "dotfiles/vim/pack/matir/start/fugitive"]
	path = dotfiles/vim/pack/matir/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "dotfiles/vim/pack/matir/start/ctrlp"]
	path = dotfiles/vim/pack/matir/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
